*.sock
.config/git
.config/pulse # tokens
Mail          # mail sent to neon@hackclub.app is here
sent          # all sent mail is there
.bun
.local
.nix-profile
.nix-* # temp shells?
.cache # cache
.links2
.gitconfig
.git-credentials
.cache/*
.env
.env.*
