*.sock
.npm
.config/git
.config/pulse # tokens
.config/caddy

.bun
.local
.nix-profile
.nix-* # temp shells?
.cache # cache
.links2
.gitconfig
.git-credentials
.cache/*
.env
.env.*
.uptime-url
main.cron
