{
	admin unix//home/neon/caddy-admin.sock
}
http://neon.hackclub.app {
	bind unix/.webserver.sock|777
	root * /home/neon/pub
	file_server {
		hide .git .env
	}
}

http://spotify.hackclub.app {
	bind unix//home/neon/.spotify.neon.hackclub.app.webserver.sock|777
	reverse_proxy localhost:37935
}
